*{
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
.imgedit{
    left: 20px;
}
.hh{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: rgb(255, 132, 0);
}
.name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color:rgb(255, 132, 0);
    font-weight: 80;
}

.center {
    align-items:center; 
}
